//SEÇÕES ------------------------------------------------------------------
.section {
  display: grid;
  gap: 16px;
  grid-template-columns: auto auto;
  margin-top: 32px;
  margin-bottom: 32px;
  grid-column: 2;

  @include d(m) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include d(g) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.titulo-section {
  text-transform: uppercase;
  margin-bottom: 16px;
  @include font(medio2);
  font-weight: 700;
  grid-column: 1 / -1;
  @include d(g) {
    grid-column: 1/ -1;
  }
}
